<?xml version="1.0"?>
<configuration>
  <!--<connectionStrings>
    <add name="VHaaShAuthenticationDB" 
         connectionString="data source=.\sqlexpress; database = VHaaShAuthenticationDB; integrated security = true;"/>
  </connectionStrings>-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
</configuration>
