<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Five Star Hotel | Restaurant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/HoteLi/style.css" rel="stylesheet" type="text/css" />
    <link href="~/HoteLi/layout.css" rel="stylesheet" type="text/css" />
    <script src="~/HoteLi/maxheight.js" type="text/javascript"></script>
    <!--[if lt IE 7]>
    <link href="ie_style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="ie_png.js"></script>
    <script type="text/javascript">ie_png.fix('.png, #header .row-2, #header .nav li a, #content, .gallery li');</script>
    <![endif]-->
</head>
<body id="page4" onload="new ElementMaxHeight();">
    <div id="main">
        <!-- header -->
        <div id="header" class="small">
            <div class="row-1">
                <div class="wrapper">
                    <div class="logo">
                        <h1><a href="#">Five Star</a></h1>
                        <em>Hotel</em> <strong>True Luxury</strong>
                    </div>
                    <div class="phones">
                        1-800-412-45-56<br />
                        1-800-542-64-48
                    </div>
                </div>
            </div>
            <!--<div class="row-2 alt">
                <div class="indent">-->
                    <!-- header-box-small begin -->
                    <!--<div class="header-box-small">
                        <div class="inner">
                            <ul class="nav">
                                <li><a href="index.html">Home page</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="restaurant.html" class="current">Restaurant</a></li>
                                <li><a href="testimonials.html">Testimonials</a></li>
                                <li><a href="booking.html">Booking</a></li>
                            </ul>
                        </div>
                    </div>-->
                    <!-- header-box-small end -->
                <!--</div>
            </div>-->
        </div>
        <!-- content -->
        <div id="content">
            <div class="gallery">
                <ul>
                    <li><a href="#"><img alt="" src="images/2page-img1.jpg" /></a></li>
                    <li><a href="#"><img alt="" src="images/2page-img2.jpg" /></a></li>
                    <li><a href="#"><img alt="" src="images/2page-img3.jpg" /></a></li>
                    <li><a href="#"><img alt="" src="images/2page-img4.jpg" /></a></li>
                    <li><a href="#"><img alt="" src="images/2page-img5.jpg" /></a></li>
                    <li><a href="#"><img alt="" src="images/2page-img6.jpg" /></a></li>
                </ul>
            </div>
            <div class="container">
                <div class="aside maxheight">
                    <!-- box begin -->
                    <div class="box maxheight">
                        <div class="inner">
                            <h3>Menu</h3>
                            <ul class="list3">
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Lunch</a></li>
                                <li><a href="#">Diner</a></li>
                                <li><a href="#">Beverage</a></li>
                                <li><a href="#">Winery</a></li>
                                <li><a href="#">Dessert</a></li>
                                <li><a href="#">Italian</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                            </ul>
                            <div class="button"><span><span><a href="#">Make Reservation</a></span></span></div>
                        </div>
                    </div>
                    <!-- box end -->
                </div>
                <div class="content">
                    <div class="indent">
                        <h2>Today’s featured menu item</h2>
                        <img class="img-indent png alt" alt="" src="images/4page-img1.png" />
                        <div class="extra-wrap">
                            <h5>Foie gras!</h5>
                            <ul class="list2">
                                <li>Nice and tasty!</li>
                                <li>Made from French ingredients!</li>
                                <li>Cooked by Italian chef!</li>
                                <li>Awarded by Czech assosiation of chef!</li>
                                <li>Proved to be good for your health!</li>
                            </ul>
                            <div class="aligncenter"><strong class="txt2">AS LOW AS €19!</strong></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- footer -->
        <div id="footer">
            <ul class="nav">
                <li><a href="#">Home</a>|</li>
                <li><a href="#">Services</a>|</li>
                <li><a href="#">Gallery</a>|</li>
                <li><a href="#">Restaurant</a>|</li>
                <li><a href="#">Testimonials</a>|</li>
                <li><a href="#">Booking</a></li>
            </ul>
            <div class="wrapper">
                <div class="fleft">Copyright &copy; 2009 <a href="#">Name Here</a>. All Rights Reserved</div>
                <div class="fright">Designed by TemplateMonster - <a href="http://www.templatemonster.com/">website templates</a> provider</div>
            </div>
        </div>
    </div>
</body>
</html>
