<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">About Us</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">About Us</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="~/NewFreeTemplate/img/about.jpg" alt="Image">
        </div>
        <div class="col-lg-6">
            <h2 class="display-4 font-weight-bold mb-4">10 Years Experience</h2>
            <p>
                Gold’s Gym offers world class equipment and amenities. No matter what your capabilities & goals are,
                Gold’s Gym has everything you need to get the results you desire.
            </p>
            <div class="row py-2">
                <div class="col-sm-6">
                    <i class="flaticon-barbell display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Certified GYM Center</h4>
                    <p>Our friendly and knowledgeable team of Personal Trainers are here to help you formulate a winning strategy and achieve more than you ever thought was possible.</p>
                </div>
                <div class="col-sm-6">
                    <i class="flaticon-medal display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Award Winning</h4>
                    <p>
                        National Fitness Awards
                        Gym of the Year
                    </p>
                </div>
            </div>
            <a href="" class="btn btn-lg px-4 btn-outline-primary">Learn More</a>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Features Start -->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-training display-3 text-primary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Personal Training</h2>
                    <p>
                        Our dedicated team of Personal Trainers will help you to find the courage, clarity and commitment to smash through them.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-primary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-weightlifting display-3 text-secondary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Group Training</h2>
                    <p>
                        With the arrival of Everlast Gyms comes a group training timetable that rebels against convention.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-treadmill display-3 text-primary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Nutrition</h2>
                    <p>
                        “Let thy food be thy medicine
                        Which means our food should be our medicine and vice versa”
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
<!-- Team Start -->
<div class="container pt-5 team">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Our Trainers</h4>
        <h4 class="display-4 font-weight-bold">Meet Our Expert Trainers</h4>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/NewFreeTemplate/img/team.jpg" alt="" style="height:320px">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Shivam</h4>
                    <p class="card-text">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/NewFreeTemplate/img/Team 2.jpg" alt="" style="height:320px">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Arohi</h4>
                    <p class="card-text">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/NewFreeTemplate/img/Team 1.jpg" alt="" style="height:320px">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"  style="width: 40px; height: 40Px;"  href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"  style="width: 40px; height: 40Px;"  href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"  style="width: 40px; height: 40Px;"  href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"  style="width: 40px; height: 40Px;"  href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Snehal</h4>
                    <p class="card-text">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="~/NewFreeTemplate/img/Teams 3.jpg" alt="" style="height:320px">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40Px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40Px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40Px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40Px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Rohit</h4>
                    <p class="card-text">Trainer</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
