
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Our Blog</h4>
            <div class="d-inline-flex">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Our Blog</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Blog Start -->
    <div class="container pt-5">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-primary font-weight-bold">Our Blog</h4>
            <h4 class="display-4 font-weight-bold">Latest Article From Blog</h4>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5 blog-item">
                <img class="img-fluid mb-4" src="~/NewFreeTemplate/img/blog-1.jpg" alt="Image">
                <div class="d-flex align-items-center mb-4">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 80px; height: 80px;">
                        <small>01</small>
                        <strong class="text-uppercase m-0 text-white">Jan</strong>
                        <small>2045</small>
                    </div>
                    <div class="pl-3">
                        <h3 class="font-weight-bold">Workout Fitness Equipment</h3>
                        <div class="d-flex">
                            <small class="mr-2 text-muted"><i class="fa fa-user"></i> Admin</small>
                            <small class="mr-2 text-muted"><i class="fa fa-folder"></i> Web Design</small>
                            <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>
                        </div>
                    </div>
                </div>
                <p>
                    How does smart gym equipment set work?

                    The smart workout machines included threes parts: Mobile app(MOVE IT), smart sensor module and 4 in 1 fitness equipment set.

                    There is video training course showing how to exercise in APP, and the smart sensor will track your motion when moving. It will give you feedback of your training tempo and action correctly or not in real-time.



                    The 4 in 1 smart fitness equipment set is a perfect design for home Gym exercise which integrate the smart push up stand handle, smart ab wheel, smart resistance band, smart jump rope into one kit which is portable and easily to carry when you are traveling. You can enjoy full weight bodybuilding easily at home or outside.



                    One Smart Gym set, let you never miss your exercise anything anywhere!

                    Enjoy your all round your fitness exercise!
                </p>
                <a class="btn btn-outline-primary mt-2 px-3" href="">Read More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="col-lg-6 mb-5 blog-item">
                <img class="img-fluid mb-4" src="~/NewFreeTemplate/img/blog-2.jpg" alt="Image">
                <div class="d-flex align-items-center mb-4">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 80px; height: 80px;">
                        <small>01</small>
                        <strong class="text-uppercase m-0 text-white">Jan</strong>
                        <small>2045</small>
                    </div>
                    <div class="pl-3">
                        <h3 class="font-weight-bold">Why is exercise so important for seniors?</h3>
                        <div class="d-flex">
                            <small class="mr-2 text-muted"><i class="fa fa-user"></i> Admin</small>
                            <small class="mr-2 text-muted"><i class="fa fa-folder"></i> Web Design</small>
                            <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>
                        </div>
                    </div>
                </div>
                <p>
                    Whether you were once much more physically active or have never been one to exercise regularly, now is a great time to start an exercise and fitness regimen. Getting and staying in shape is just as important for seniors as it is for younger people.

                    Why is exercise important for older people? Getting your heart rate up and challenging your muscles benefits virtually every system in your body and improves your physical and mental health in myriad ways. Physical activity helps maintain a healthy blood pressure, keeps harmful plaque from building up in your arteries, reduces inflammation, improves blood sugar levels, strengthens bones, and helps stave off depression. In addition, a regular exercise program can make your sex life better, lead to better quality sleep, reduce your risk of some cancers, and is linked to longer life.

                    Many older adults hesitate to get moving because they’re unfamiliar with the types of exercise and fitness that are effective and safe, and aren’t sure how much exercise they need to do. The good news is that any kind of movement is better than being sedentary, so there’s nothing wrong with starting small and working your way up to longer workouts. Your goal should be no less than 150 minutes of moderate intensity activity per week, but if you can’t start at that level, work up to it (and then past it). While there are many dedicated forms of exercise and fitness for adults, you also want to stay physically active throughout the day by taking the stairs, doing yard work, and playing with your grandkids.

                    When it comes to exercise and fitness for seniors, most can begin without consulting a doctor—but there are exceptions. If you have a major health condition like diabetes, high blood pressure, heart or lung disease, osteoprosis or a neurological disease, definitely talk to your doctor first. People with mobility issues such as poor balance or arthritis should also get advice from their doctor.
                </p>
                <a class="btn btn-outline-primary mt-2 px-3" href="">Read More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="col-lg-6 mb-5 blog-item">
                <img class="img-fluid mb-4" src="~/NewFreeTemplate/img/blog-1.jpg" alt="Image">
                <div class="d-flex align-items-center mb-4">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 80px; height: 80px;">
                        <small>01</small>
                        <strong class="text-uppercase m-0 text-white">Jan</strong>
                        <small>2045</small>
                    </div>
                    <div class="pl-3">
                        <h3 class="font-weight-bold">Fitness is important for youths! </h3>
                        <div class="d-flex">
                            <small class="mr-2 text-muted"><i class="fa fa-user"></i> Admin</small>
                            <small class="mr-2 text-muted"><i class="fa fa-folder"></i> Web Design</small>
                            <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>
                        </div>
                    </div>
                </div>
                <p>
                    Fitness is a vital component of everyone’s lifestyle, but it is especially important for teenagers. Their body is changing and adjusting to the world around them throughout the time, so challenging it physically can help them develop into leaner, stronger, and overall healthier individuals. While sitting at a desk all day at school, college, or for tuition is bad since it keeps youth sedentary, finding the time and energy to fit everything into your calendar can be challenging.

                    These are exciting, formative years filled with many firsts, such as going to the gym. Starting out in the world of fitness and gym life as a novice sets you on a positive fitness path. There are numerous advantages to beginning a consistent workout regimen when you are young, as it prepares you for a healthy lifestyle as you get older. It instills in young people patience, dedication, and the importance of committing to something in order to gain rewards.
                </p>
                <a class="btn btn-outline-primary mt-2 px-3" href="">Read More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="col-lg-6 mb-5 blog-item">
                <img class="img-fluid mb-4" src="~/NewFreeTemplate/img/blog-2.jpg" alt="Image">
                <div class="d-flex align-items-center mb-4">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 80px; height: 80px;">
                        <small>01</small>
                        <strong class="text-uppercase m-0 text-white">Jan</strong>
                        <small>2045</small>
                    </div>
                    <div class="pl-3">
                        <h3 class="font-weight-bold">How Daily Exercise Can Help Keep Your Mind Strong & Active</h3>
                        <div class="d-flex">
                            <small class="mr-2 text-muted"><i class="fa fa-user"></i> Admin</small>
                            <small class="mr-2 text-muted"><i class="fa fa-folder"></i> Web Design</small>
                            <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>
                        </div>
                    </div>
                </div>
                <p>
                    Exercise isn’t about muscle size and aerobic capacity. Sure, it can improve your physique, physical health, and cut down your waistline. However, there are immense mental benefits of working out regularly that you just can’t ignore. Moreover, with 2022 being a challenging year for all of us and more people getting hooked onto social media, it’s even more important to prioritize working out, break bad habits (e.g. aimless scrolling on the internet), and improve mental health.
                    Folks who remove time to exercise daily, tend to be happier, sleep better at night, and experience more energy throughout the day. They also have sharper memories and feel more relaxed and positive.
                    The reason why people experience these mental benefits is that regular workouts can have a profound impact on anxiety, stress levels, depression, and various other kinds of mental challenges. Research states that even modest amounts of workouts can make a huge difference for your brain health.
                    Let us understand how regular exercise can help keep your mind active.

                    1) Sharper Memory & Thinking

                    2) Higher Self-Esteem

                    3) Better Sleep

                    4) More Energy

                    5) Stronger Resilience


                </p>
                <a class="btn btn-outline-primary mt-2 px-3" href="">Read More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="col-lg-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center mb-4">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Blog End -->
   