<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Our Features</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Our Features</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- GYM Feature Start -->
<div class="container feature pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Why Choose Us?</h4>
        <h4 class="display-4 font-weight-bold">Features of  Our GYM</h4>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/NewFreeTemplate/img/feature-1.jpg" alt="Image">
                    <i class="flaticon-barbell"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Variety of Training</h4>
                    <p>
                        In terms of fitness and training, everyone is unique. Some people need
                        one on one personal training programs, while for others Group training options may be ideal for some and not others.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/NewFreeTemplate/img/feature-2.jpg" alt="Image">
                    <i class="flaticon-training"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">High-Quality Equipment</h4>
                    <p>
                        All exercise equipment designed to help members to meet their fitness goals.
                        Standard gym equipment includes dumbbells, weight machines, kettlebells, squat
                        racks, and cardio equipment.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/NewFreeTemplate/img/feature-3.jpg" alt="Image">
                    <i class="flaticon-trends"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Personal Training </h4>
                    <p>
                        Personal training services and programs can help members hit their goals and
                        offer the type of motivation needed to keep going.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/NewFreeTemplate/img/feature-4.jpg" alt="Image">
                    <i class="flaticon-support"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Hygine</h4>
                    <p>
                        We follow All Saftey Norms Specified by COVID-19 Guidelines.
                        State of the are facilities with Saftey features.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- GYM Feature End -->
<!-- Testimonial Start -->
<div class="container-fluid position-relative testimonial mt-5" style="margin-bottom: 90px;">
    <div class="container">
        <div class="row px-3 align-items-center">
            <div class="col-md-6 bg-secondary">
                <div class="d-flex align-items-center px-3" style="min-height: 450px;">
                    <div id="carouselId" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselId" data-slide-to="1"></li>
                            <li data-target="#carouselId" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="~/NewFreeTemplate/img/testimonial-1.jpg"
                                         alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Vaishnavi</h4>
                                        <p class="m-0">Engineer</p>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    It's a very nice gym with world top class equipment of Life fitness and Hammer Strength, and people surrounding is also good, and staff of this branch is very kind, they help members very well and all the trainers are certified with good knowledge of teaching as well. Good place to achieve your goals.
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="~/NewFreeTemplate/img/testimonial-2.jpg"
                                         alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Mayuri</h4>
                                        <p class="m-0">Doctor</p>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    Amazing staff.!!! Hygiene is always a priority here. There are lockers to keep our bags. The personal trainers are extremely helpful. I have been training under Pranay Bane and sir has been most motivating.
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="~/NewFreeTemplate/img/testimonial-3.jpg"
                                         alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Sahil</h4>
                                        <p class="m-0">Business</p>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    One of the best gyms to start your workout journey with. A very well managed Gym. Good staff. Good knowledge trainers.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pl-md-3 d-none d-md-block">
                    <h4 class="text-primary">Testimonial</h4>
                    <h4 class="display-4 mb-4 text-white font-weight-bold">What Our Clients Say?</h4>
                    <p class="m-0 text-white">
                        Here it from the most trusted Clients!!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
