@model VHaaShModals.Account.LoginRequest

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Become A Member</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white">@*<a class="text-white" href="">Register</a>*@
                @Html.ActionLink("Register","Register",null,new { @class = "text-white" })
            </p>
            <p class="m-0 text-white px-2"></p>
            <p class="m-0 text-white"></p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FatToFit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="~/NewFreeTemplate/img/favicon.ico" rel="icon">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="~/NewFreeTemplate/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/NewFreeTemplate/css/style.min.css" rel="stylesheet">



</head>

<body>
    <div class="container col-md-6 mt-5 table table-bordered p-5 border-success" style="width:500px">
        <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                </div>
            </div>

            <!-- Submit button -->
            <button type="button" class="btn btn-info btn-block mb-4" style="">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? 
                @Html.ActionLink("Register","Register","Account")
                </p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f" style="color:blue"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter" style="color:aqua"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github" style="color:black">
                    </i>
                </button>
            </div>
        </form>

    </div>
</body>
</html>
