@model VHaaShModals.Account.UserInfo

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FatToFit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="~/NewFreeTemplate/img/favicon.ico" rel="icon">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="~/NewFreeTemplate/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/NewFreeTemplate/css/style.min.css" rel="stylesheet">

    <style>
        .form-check-input1 {
            margin-top: 0.3rem;
            margin-left: -1.25rem;
        }
    </style>

</head>
<body>

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Register</h4>
            @*<div class="d-inline-flex">
                    <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                    <p class="m-0 text-white px-2">/</p>
                    <p class="m-0 text-white">Our Features</p>
                </div>*@
        </div>
    </div>
    <!-- Page Header End -->



    <div class="container w-50" style="">
        <div class="">


            <form class="table table-bordered p-5 align-content-center bord" style="">

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0 ml-3">
                        <input type="text" id="form3Example1c" class="form-control" placeholder="Your Name">
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;">
                            </div><div class="form-notch-middle" style="width: 71.2px;">
                            </div><div class="form-notch-trailing"></div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0 ml-3">
                        <input type="email" id="form3Example3c" class="form-control" placeholder="Your Email">
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 69.6px;"></div><div class="form-notch-trailing"></div></div>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0 ml-3">
                        <input type="password" id="form3Example4c" class="form-control" placeholder="Password">
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0 ml-3">
                        <input type="password" id="form3Example4cd" class="form-control" placeholder="Repeat your password">
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 136px;"></div><div class="form-notch-trailing"></div></div>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-list fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0 ml-3">

                        <select id="ddlroles" class="form-control">
                            <option value="">--Select Role--</option>
                        </select>

                    </div>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input1 me-2 mb-1" type="checkbox" value="" id="form2Example3c">
                    <label class="form-check-label  ml-3" for="form2Example3">
                        I agree all statements in <a href="#!" class="">Terms of service</a>
                    </label>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-success btn-lg text-center w-75">Register</button>
                </div>
                @*changed button tpye from 'button' to 'submit'*@

                <div class="text-center ">
                    <p>
                        Already a member?
                        @Html.ActionLink("Login", "Login", "Account", new {@class= "text-danger" })
                    </p>
                </div>
            </form>

        </div>
    </div>
    <!-- Back to Top -->
    <a href="#" class="btn btn-outline-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/NewFreeTemplate/lib/easing/easing.min.js"></script>
    <script src="~/NewFreeTemplate/lib/waypoints/waypoints.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/NewFreeTemplate/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/NewFreeTemplate/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/NewFreeTemplate/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('a').click(function () {
                $('a.customLink.active').removeClass("active");
                $(this).addClass("active");
            });
        });

        $('a').click(function () {
            $(this).addClass('active');
        });



        // Script for User Role (DropDown)
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "GetRole",
                dataType: "json",
                success: function (Result) {
                    $.each(Result, function (key, value) {
                        $("#ddlroles").append($("<option></option>").val(value.Id).html(value.Description));
                    });
                },
                error: function (Result) {
                    alert("Error");
                }
            });
        });

    </script>
</body>
</html></body>