<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AK - Insurance : Reviews</title>
    <link rel="shortcut icon" href="~/TemplateFiles/images/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/TemplateFiles/css/icons.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="ie7/ie7.css">
    <!--<![endif]-->
    <link href="~/TemplateFiles/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 address">
                        <i class="ti-location-pin"></i> Varad Complex, Narhe, pune - 411041
                    </div>
                    <div class="col-sm-6 social">
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        AK<span> Insurance</span>
                    </a>
                    <p>Call Us Now <b>+91 8390762229</b></p>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @*<a href="index.html">Home</a>*@
                            @Html.ActionLink("Home", "Index")
                        </li>
                        <li>
                            @*<a href="blog.html">Blog</a>*@
                            @Html.ActionLink("Products","BlogPage")
                        </li>
                        <li>
                            @*<a href="blog-details.html">Blog Details</a>*@
                            @Html.ActionLink("Reviews", "BlogDetails")
                        </li>
                        <li>
                            @*<a href="contact-us.html">Contact</a>*@
                            @Html.ActionLink("Contact", "ContactUs")
                        </li>
                        @*<li>
                            <a href="#" class="btn-default">Buy Pro Version</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="clear"></div>
    <div id="page-content">
        <section class="breadcrumb">
            <div class="container">
                <h2>Blog Details</h2>
                <ul>
                    <li><a href="index.html">Home</a> ></li>
                    <li><a href="#">Blog Details</a></li>
                </ul>
            </div>
        </section>
        <section class="blog-page">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="single-post">
                            <div class="blog-img">
                                <a href="">
                                    <img src="~/TemplateFiles/images/slider-img1.jpg" class="img-responsive">
                                </a>
                                <div class="blog-icon"><img src="~/TemplateFiles/images/icon2.png"></div>
                            </div>
                            <h2 class="blog-title">Image Post For Insurance Press</h2>
                            <div class="blog-meta">
                                <a href="" class="ml-0"><i class="blue-text fa fa-calendar"></i> 2 Feb 2018</a>
                                <a href=""><i class="blue-text fa fa-user"></i> By Admin</a>
                                <a href=""><i class="blue-text fa fa-comment"></i>(3) Comments</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leosdsdsd pharetra in.lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leo pharetra in.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leosdsdsd pharetra in.lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="blog-author">
                            <div class="row">
                                <div class="col-sm-5">
                                    <a href="">
                                        <img src="~/TemplateFiles/images/rec-1.jpg" class="img-responsive">
                                        <div class="author-text">By John Smith</div>
                                    </a>
                                </div>
                                <div class="col-sm-7">
                                    <h4 class="cap-title">Duis Non Quam Sagit Ulitracies Sem Vitae Luctus Tincidunt Quam Lacinia Quis Sed Elit.</h4>
                                    <ul class="caption-list">
                                        <li>
                                            <i class="glyphicon glyphicon-ok-sign blue-text"></i>
                                            <a href="#">Posure distcum nam integer</a>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-ok-sign blue-text"></i>
                                            <a href="#">Nec congue leo pharetra in sit amet</a>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-ok-sign blue-text"></i>
                                            <a href="#">Mauris hendrerit fringilla ligula</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leosdsdsd pharetra in.lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leo pharetra in. Integer eget orci id leo consectetur iaculis ut vitae neque. Interdum et malesuada fames.</p>
                        </div>
                        <div class="quote-post1">
                            <div class="quote-text">
                                <h5>"Vivamus faucibus magna vitae purus blandit, rutrum aliquam turpis bibendum. Ut sit amet sapien dolor. Integer eget orci id leo consectetur iaculis ut vitae neque. Interdum etmalesuad fames ac ante ipsum primis in faucibus."</h5>
                            </div>
                        </div>
                        <!-- Related Post -->
                        <h2>Related Post</h2>
                        <div class="relate-post">
                            <div class="display-line sm-display">
                                <div>
                                    <h6>Heading Title of Cras Sed Sagittis</h6>
                                    <h6>Est Id Tincidunt</h6>
                                    <h6 class="mt-20">In "Insurance<span class="blue-text">Press</span>"</h6>
                                </div>
                                <div class="ml-auto">
                                    <h6>Heading Title of Massa Tempus</h6>
                                    <h6>Vle Tristique Ord</h6>
                                    <h6 class="mt-20">In "Insurance<span class="blue-text">Press</span>"</h6>
                                </div>
                            </div>
                            <div class="mt-30 display-line">
                                <div>
                                    <a href="" class="blue-text"><i class="glyphicon glyphicon-circle-arrow-left"></i><span class="ml-5">Previous Post</span></a>
                                    <h6 class="hidden-xs">Heading Title of Etiam ut justo</h6>
                                </div>
                                <div class="ml-auto">
                                    <div class="text-right">

                                        <a href="" class="blue-text"><span class="mr-5">Next Post</span><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                                    </div>
                                    <h6 class="hidden-xs">Heading Title of Etiam ut justo</h6>
                                </div>
                            </div>
                            <div class="social-post">
                                <div><img src="~/TemplateFiles/images/agent4.jpg" class="social-img"></div>
                                <div class="social-text">
                                    <h6><i class="fa fa-user mr-5"></i> Jack Ressico</h6>
                                    <h5>"Vivamus faucibus magna vitae purus blandit, rutrum aliquam turpis bibendum. Ut sit amet sapien dolor. Integer eget orci id leo consectetur iaculis ut vitae neque."</h5>
                                    <div class="display-line sm-inline">
                                        <a href="#" class="blue-text">View All Post</a>
                                        <ul class="ml-auto social-icon">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-youtube"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Comments -->
                        <h2>Comments</h2>
                        <div class="comment-post">
                            <div><img src="~/TemplateFiles/images/agent4.jpg" class="comment-img"></div>
                            <div class="comment-text">
                                <h4>Sobly Kelly</h4>
                                <h6>8 Feb 2018</h6>
                                <h5>Consectetur adipiscing elit Integer feugiat dolor nibh Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus.</h5>
                                <button class="btn btn-secondary" type="button">Reply</button>
                            </div>
                        </div>
                        <div class="comment-post">
                            <div><img src="~/TemplateFiles/images/agent3.jpg" class="comment-img"></div>
                            <div class="comment-text">
                                <h4>Jason Grek</h4>
                                <h6>10 Feb 2018</h6>
                                <h5>Consectetur adipiscing elit Integer feugiat dolor nibh Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus.</h5>
                                <button class="btn btn-secondary" type="button">Reply</button>
                            </div>
                        </div>
                        <div class="comment-post-right">
                            <div><img src="~/TemplateFiles/images/agent4.jpg" class="comment-img"></div>
                            <div class="comment-text">
                                <h4>Jason Grek</h4>
                                <h6>10 Feb 2018</h6>
                                <h5>Consectetur adipiscing elit Integer feugiat dolor nibh Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus.</h5>
                                <button class="btn btn-secondary" type="button">Reply</button>
                            </div>
                        </div>
                        <div class="comment-post">
                            <div><img src="~/TemplateFiles/images/agent1.jpg" class="comment-img"></div>
                            <div class="comment-text">
                                <h4>Cliff Hrowl</h4>
                                <h6>8 Feb 2018</h6>
                                <h5>Consectetur adipiscing elit Integer feugiat dolor nibh Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus.</h5>
                                <button class="btn btn-secondary" type="button">Reply</button>
                            </div>
                        </div>
                        <!-- Leave comment -->
                        <h2>Leave A Comments</h2>
                        <form class="comment">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div>
                                        <input type="text" name="name" placeholder="Name" />
                                    </div>
                                    <div>
                                        <input type="text" name="email" placeholder="Email" />
                                    </div>
                                    <div>
                                        <input type="text" name="subject" placeholder="Subject" />
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div>
                                        <textarea rows="1" cols="1" placeholder="Message"></textarea>
                                    </div>
                                    <div>
                                        <input type="submit" class="btn-default" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-sm-4">
                        <div class="blog-post">
                            <!-- Search -->
                            <h2>Search</h2>
                            <div class="input-group search-text">
                                <input type="text" class="form-control search" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-search" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <!-- Categories -->
                            <h2>Categories</h2>
                            <ul class="category-post">
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>House Insurance</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(11)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>Travel Insurance</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(16)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>Life Insurance</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(16)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>Car Insurance</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(19)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>Business Insurance</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(22)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>Marketing</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(25)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- Archives -->
                            <h2>Archives</h2>
                            <div class="input-group search-text">
                                <input type="text" class="form-control search" placeholder="Search archives">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-search" type="button"><i class="glyphicon glyphicon-triangle-bottom"></i></button>
                                </span>
                            </div>
                            <!-- Recent Posts -->
                            <h2>Recent Posts</h2>
                            <ul class="recent-post">
                                <li class="border-bottom">
                                    <a href="#"><h5>Fusce Hendreit et Enim Ord</h5></a>
                                    <h6>2 Feb, 2018</h6>
                                </li>
                                <li class="border-bottom">
                                    <a href="#"><h5>Present Feugiat Metus Tempor</h5></a>
                                    <h6>4 Feb, 2018</h6>
                                </li>
                                <li class="border-bottom">
                                    <a href="#"><h5>Vivamus Placerat Lorem Est</h5></a>
                                    <h6>5 Feb, 2018</h6>
                                </li>
                                <li class="border-bottom">
                                    <a href="#"><h5>Tristique Nonc Neque Eleifend</h5></a>
                                    <h6>7 Feb, 2018</h6>
                                </li>
                            </ul>
                            <!-- Tags -->
                            <h2>Tags</h2>
                            <div class="tags">
                                <a href="">Vestibul</a>
                                <a href="">Justo Temp Orci</a>
                                <a href="">Pellent</a>
                                <a href="">Nam</a>
                                <a href="">consequat elit</a>
                                <a href="">vestibulum act</a>
                                <a href="">consequat donctum</a>
                                <a href="">elit</a>
                                <a href="">molestie</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clear"></div>
    <footer>
        <div class="container">
            <div class="row contact-sec">
                <div class="col-md-5 col-lg-5">
                    <h2>Insurance<span>Press</span></h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                E104 Dharti -2 , Nr Silverstar Mall Chandlodia - Ahmedabad
                                <br />Zip - 382481
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li><a href="#"><i class="fa fa-phone"></i> +91 123 456 7890</a></li>
                                <li><a href="#"><i class="ti-email"></i> info@bootstrapmart.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="btn-default">Contact Us</a>
                </div>
                <div class="col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
                    <h2>Agent<span>Detail</span></h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                E104 Dharti -2 , Nr Silverstar Mall Chandlodia - Ahmedabad
                                <br />Zip - 382481
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li><a href="#"><i class="fa fa-phone"></i> +91 123 456 7890</a></li>
                                <li><a href="#"><i class="ti-email"></i> info@bootstrapmart.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="btn-default">Contact Agent</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <ul class="footer-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="#">Compnies represented</a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Products</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-md-offset-2 col-lg-offset-2">
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        Copyright &copy; 2018 distributed by <a href="https://themewagon.com/">ThemeWagon</a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                        <a href="#">Terms & Conditions</a>
                        <a href="#">Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/TemplateFiles/js/custom.js"></script>
</body>

</html>
