<!DOCTYPE html>
<html lang="en">

@{
    Layout = "~/Views/Shared/_AKLayout.cshtml";
    ViewBag.Title = "Products";

}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AK - Insurance : Products</title>
    <link rel="shortcut icon" href="~/TemplateFiles/images/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/TemplateFiles/css/icons.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="ie7/ie7.css">
    <!--<![endif]-->
    <link href="~/TemplateFiles/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
   
    <div class="clear"></div>
    <div id="page-content">
        <section class="breadcrumb">
            <div class="container">
                <h2>Best Health Plans for you</h2>
                <ul>
                    <li>@Html.ActionLink("Home","Index") > </li>
                    <li>@Html.ActionLink("Products", "BlogPage")</li>
                </ul>
            </div>
        </section>
        <section class="blog-page">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="single-post">
                            <div class="blog-img">
                                <a href="">
                                    <img src="~/TemplateFiles/images/slider-img.jpg" class="img-responsive">
                                </a>
                                <div class="blog-icon"><img src="~/TemplateFiles/images/icon2.png"></div>
                            </div>
                            <h2 class="blog-title">Image Post For Insurance Press</h2>
                            <div class="blog-meta">2 Feb 2018 <a href="">(3) Comments</a></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leosdsdsd pharetra in.lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leo pharetra in.</p>
                            <div class="blog-btn">
                                <a href="#" class="btn-default">Read More</a>
                                <div class="img-inline">
                                    <img src="~/TemplateFiles/images/people-03.jpg"><a href="#">By Linda</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="blog-img">
                                <a href="">
                                    <img src="~/TemplateFiles/images/slider-img1.jpg" class="img-responsive">
                                </a>
                                <div class="blog-icon"><img src="~/TemplateFiles/images/icon2.png"></div>
                            </div>
                            <h2 class="blog-title">Gallery Post For Insurance Press</h2>
                            <div class="blog-meta">4 Feb 2018 <a href="">(5) Comments</a></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leosdsdsd pharetra in.lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leo pharetra in.</p>
                            <div class="blog-btn">
                                <a href="#" class="btn-default">Read More</a>
                                <div class="img-inline">
                                    <img src="~/TemplateFiles/images/people-03.jpg"><a href="#">By Linda</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="blog-img">
                                <a href="">
                                    <img src="~/TemplateFiles/images/slider-img2.jpg" class="img-responsive">
                                </a>
                                <div class="blog-icon"><img src="~/TemplateFiles/images/icon1.png"></div>
                            </div>
                            <h2 class="blog-title">Video Post For Insurance Press</h2>
                            <div class="blog-meta">4 Feb 2018 <a href="">(5) Comments</a></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leosdsdsd pharetra in.lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leo pharetra in.</p>
                            <div class="blog-btn">
                                <a href="#" class="btn-default">Read More</a>
                                <div class="img-inline">
                                    <img src="~/TemplateFiles/images/people-03.jpg"><a href="#">By Linda</a>
                                </div>
                            </div>
                        </div>
                        <div class="quote-post">
                            <div class="quote-img">
                                <img src="~/TemplateFiles/images/icon3.png">
                            </div>
                            <div class="quote-text">
                                <h5>Vivamus faucibus magna vitae purus blandit, rutrum aliquam turpis bibendum. Ut sit amet sapien dolor. Integer eget orci id leo consectetur iaculis ut vitae neque. Interdum et malesuada fames ac ante ipsum primis in faucibus.</h5>
                                <h6> - Kelly Claw</h6>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="blog-img">
                                <a href="">
                                    <img src="~/TemplateFiles/images/slider-img.jpg" class="img-responsive">
                                </a>
                                <div class="blog-icon"><img src="~/TemplateFiles/images/icon1.png"></div>
                            </div>
                            <h2 class="blog-title">Audio Post For Insurance Press</h2>
                            <div class="blog-meta">9 Feb 2018 <a href="">(9) Comments</a></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leosdsdsd pharetra in.lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leo pharetra in.</p>
                            <div class="blog-btn">
                                <a href="#" class="btn-default">Read More</a>
                                <div class="img-inline">
                                    <img src="~/TemplateFiles/images/people-03.jpg"><a href="#">By Linda</a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <ul class="pagination ins-page">
                                <li class="active"><span>Previous</span></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="blog-post">
                            <!-- Search -->
                            <h2>Search</h2>
                            <div class="input-group search-text">
                                <input type="text" class="form-control search" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-search" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <!-- Categories -->
                            <h2>Categories</h2>
                            <ul class="category-post">
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>House Insurance</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(11)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>Travel Insurance</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(16)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>Life Insurance</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(16)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>Car Insurance</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(19)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>Business Insurance</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(22)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>Marketing</h4>
                                            <div class="margin-left-auto blue-text">
                                                <span>(25)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- Archives -->
                            <h2>Archives</h2>
                            <div class="input-group search-text">
                                <input type="text" class="form-control search" placeholder="Search archives">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-search" type="button"><i class="glyphicon glyphicon-triangle-bottom"></i></button>
                                </span>
                            </div>
                            <!-- Recent Posts -->
                            <h2>Recent Posts</h2>
                            <ul class="recent-post">
                                <li class="border-bottom">
                                    <a href="#"><h5>Fusce Hendreit et Enim Ord</h5></a>
                                    <h6>2 Feb, 2018</h6>
                                </li>
                                <li class="border-bottom">
                                    <a href="#"><h5>Present Feugiat Metus Tempor</h5></a>
                                    <h6>4 Feb, 2018</h6>
                                </li>
                                <li class="border-bottom">
                                    <a href="#"><h5>Vivamus Placerat Lorem Est</h5></a>
                                    <h6>5 Feb, 2018</h6>
                                </li>
                                <li class="border-bottom">
                                    <a href="#"><h5>Tristique Nonc Neque Eleifend</h5></a>
                                    <h6>7 Feb, 2018</h6>
                                </li>
                            </ul>
                            <!-- Tags -->
                            <h2>Tags</h2>
                            <div class="tags">
                                <a href="">Vestibul</a>
                                <a href="">Justo Temp Orci</a>
                                <a href="">Pellent</a>
                                <a href="">Nam</a>
                                <a href="">consequat elit</a>
                                <a href="">vestibulum act</a>
                                <a href="">consequat donctum</a>
                                <a href="">elit</a>
                                <a href="">molestie</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clear"></div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/TemplateFiles/js/custom.js"></script>
</body>

</html>
