@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>This is home content. You can view this content without login also.</h2>
    <div>
        @Html.ActionLink("Login", "Login", "Account")

        @Html.ActionLink("Sign up", "Register", "Account")
    </div>
</body>
</html>
