@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Welcome, User</h1>
    <h2>This is welcome content. You can view this content only after login.</h2>
    <div>
        @Html.ActionLink("Logout", "Logout", "Account")
    </div>
</body>
</html>
