
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexView</title>
</head>
<body>
    <div> 
        <h1>INDEX VIEW FOR BIKEAREA_HOMECONTROLLER</h1>
        <h3>WEL-COME,</h3>
    </div>
</body>
</html>
